

<div class="modal fade" id="deleteModal" tabindex="-1">
<div class = "modal-dialog">
<div class="modal-content">

<div class = "modal-header">
<h3 class="modal-title">Confirm Delete</h3>
<button class="btn-close" type = "button" data-bs-dismiss = "modal"></Button>
</div>

<div class = "modal-body">
Are You Sure You Want to Delete this item?
</div>

<div class = "modal-footer">
<button class = "btn btn-secondary"  type = "button"  data-bs-dismiss = "modal">Cancel</button>
<a id = "confirmDeleteBtn" class = "btn btn-danger text-decoration-none">Delete</a>
</div>

</div>
</div>
</div>